.header{
    background: rgb(18,64,114);
background: linear-gradient(112deg, rgba(18,64,114,1) 0%, rgba(18,100,114,0.9187935034802784) 89%);
    width:100%; 
    height: 50px;
    box-shadow: 0px 0px 15px rgb(185, 185, 185);

}


.logo_ap{
    height:40px;
    width:40px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 30px;
}


.td_logo{
    width:55px;
}

.td_title{
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;

}


.title{
    font-weight: 400;
    padding: 0px;
    margin:0px;
}

.td_user{
    width:200px;
}

.btn_user{
    background-color: #12407200;
    margin: 0px;
    padding: 0px;
    color:white;
    border:none;
    font-size: 1em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}