<div class="conteneur_detail" *ngIf="idTicket">
    <table class="ticket">
        <tr>
            <td style="padding-left: 5px; padding-top: 5px;" class="ticket_title">{{ticket?.objet}}</td>
            <td class="date">{{ticket?.date_creation | date : 'dd/MM/YYYY'}}</td>
        </tr>

        <tr>
            <td class="id" style="padding-left: 5px;" colspan="2">id : {{ticket?.id}}</td>
        </tr>
        <tr>
            <td class="id" style="padding-left: 5px;" colspan="2">Par : Mathias LORET</td>
        </tr>
        <tr style="height: 5px;">
            <td colspan="2" style="padding-left: 5px;"></td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left: 5px;">Catégorie</td>
        </tr>
        <tr style="height: 5px;">
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: 0.9em;padding-left: 5px;">Attribué à : Francoos LORET </td>
        </tr>
        <tr style="text-align: end;">
            <td colspan="2" style="padding-right: 5px;">
                <!--<p-dropdown [options]="etatsTicket" [(ngModel)]="etatSelected" optionLabel="nom"></p-dropdown>-->





                <p-dropdown [options]="etatsTicket" [(ngModel)]="etatSelected" optionLabel="nom" [filter]="true" filterBy="nom" [showClear]="true" placeholder="Changer">
                    <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="etatSelected">
                            <i *ngIf="ticket?.etat == 'NOUVEAU'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(0, 62, 231)"></i>
                            <i *ngIf="ticket?.etat == 'ASSIGNE'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(173, 0, 216)"></i>
                            <i *ngIf="ticket?.etat == 'EN COURS'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(235, 199, 0)"></i>
                            <i *ngIf="ticket?.etat == 'EN ATTENTE'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(165, 165, 165)"></i>
                            <i *ngIf="ticket?.etat == 'RESOLUT'" class="pi pi-circle-fill" style=" font-size:0.8em;color:green"></i>
                            {{ticket?.etat | lowercase}}
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                            <i *ngIf="ticket?.etat == 'NOUVEAU'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(0, 62, 231)"></i>
                            <i *ngIf="ticket?.etat == 'ASSIGNE'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(173, 0, 216)"></i>
                            <i *ngIf="ticket?.etat == 'EN COURS'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(235, 199, 0)"></i>
                            <i *ngIf="ticket?.etat == 'EN ATTENTE'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(165, 165, 165)"></i>
                            <i *ngIf="ticket?.etat == 'RESOLUT'" class="pi pi-circle-fill" style=" font-size:0.8em;color:green"></i>
                            {{ticket?.etat | lowercase}}
                        </div>
                    </ng-template>
                </p-dropdown>



















                <i *ngIf="ticket?.etat == 'NOUVEAU'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(0, 62, 231)"></i>
                <i *ngIf="ticket?.etat == 'ASSIGNE'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(173, 0, 216)"></i>
                <i *ngIf="ticket?.etat == 'EN COURS'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(235, 199, 0)"></i>
                <i *ngIf="ticket?.etat == 'EN ATTENTE'" class="pi pi-circle-fill" style=" font-size:0.8em;color:rgb(165, 165, 165)"></i>
                <i *ngIf="ticket?.etat == 'RESOLUT'" class="pi pi-circle-fill" style=" font-size:0.8em;color:green"></i>
                {{ticket?.etat | lowercase}}
            
            </td>
        </tr>
        <tr style="height: 5px;">
            <td colspan="2"></td>
        </tr>
        <tr style="height: 200px; background-color: rgb(223, 223, 223);color:blue; overflow-y: scroll;">
            <td colspan="2" style="vertical-align: top; font-size: 0.9em;padding: 15px;"><b>Description :</b> <br/>{{ticket?.description}}</td>
        </tr>
        <tr style="height: 15px;">
            <td colspan="2"></td>
        </tr>
    </table>

    <div class="conteneur_commentaire">
        <div *ngFor="let commentaire of ticket?.commentaires">

       
        <div class="commentaire recu" *ngIf="commentaire?.id_proprietaire?.id != idConnectedUser">
            <table style="width: 100%;">

                <tr>
                    <td style="width:200px; vertical-align: top; ">
                        <h3 style="margin:0px; margin-top: 15px;padding-left: 15px;">{{commentaire?.id_proprietaire?.prenom}}{{commentaire?.id_proprietaire?.nom}}</h3>
                        <p style="margin:0px; padding-left: 15px;">04/06/2023</p>
                        <hr />
                        <div style="margin-left: 15px;"><a href="#">piece jointe</a></div>
                    </td>
                    <td>{{commentaire?.texte}}</td>

                </tr>

            </table>

        </div>
        <div class="commentaire envoye" *ngIf="commentaire?.id_proprietaire?.id == idConnectedUser">
            <table style="width: 100%;">
                <tr>
                    <td>{{commentaire?.texte}}</td>
                    <td style="width:200px; vertical-align: top; text-align: end; ">
                        <h3 style="margin:0px; margin-top: 15px;padding-right: 15px;">{{commentaire?.id_proprietaire?.prenom}}{{commentaire?.id_proprietaire?.nom}}</h3>
                        <p style="margin:0px; padding-right: 15px;">04/06/2023</p>
                        <hr />
                        <div style="margin-right: 15px;"><a href="#">piece jointe</a></div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    </div>
    <div class="form_new_com">
        <button (click)="showDialog()">+ Nouveau commentaire</button>
    </div>
    <div class="card flex justify-content-center">
        
        <p-dialog header="Nouveau Commentaire" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
            [draggable]="false" [resizable]="false">

            
            <span class="p-float-label" style="margin-top: 25px;">
                <textarea id="float-input" style="width:100%;" rows="5" cols="30" pInputTextarea></textarea>
                <label for="float-input">Commentaire</label>
            </span>

            <p-fileUpload [style]="{'margin-top':'10px'}" mode="basic" chooseLabel="Ajouter une pièce jointe" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*,.pdf" (onUpload)="onUpload($event)"></p-fileUpload>
            <div style="margin-top: 25px; display: flex; justify-content: flex-end;"><p-button  icon="pi pi-send" label="Envoyer"></p-button></div>
        </p-dialog>
    </div>
</div>