<div class="conteneur_detail">
    <table class="ticket">
        <tr>
            <td style="padding-left: 5px; padding-top: 5px;" class="ticket_title">Demande materiel</td>
            <td class="date">03/09/2023</td>
        </tr>

        <tr>
            <td class="id" style="padding-left: 5px;" colspan="2">2356345345</td>
        </tr>
        <tr style="height: 5px;">
            <td colspan="2" style="padding-left: 5px;"></td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left: 5px;">Catégorie</td>
        </tr>
        <tr style="height: 5px;">
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2" style="font-size: 0.9em;padding-left: 5px;">Attribué à : Francoos LORET </td>
        </tr>
        <tr style="text-align: end;">
            <td colspan="2" style="padding-right: 5px;"><i class="pi pi-circle-fill"
                    style=" font-size:0.8em;color:green"></i> En cours</td>
        </tr>
    </table>

    <div class="conteneur_commentaire">
        <div class="commentaire recu">
            <table style="width: 100%;">

                <tr>
                    <td style="width:200px; vertical-align: top; ">
                        <h3 style="margin:0px; margin-top: 15px;padding-left: 15px;">Francois LORET</h3>
                        <p style="margin:0px; padding-left: 15px;">04/06/2023</p>
                        <hr />
                        <div style="margin-left: 15px;"><a href="#">piece jointe</a></div>
                    </td>
                    <td>Ceci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalall

                    </td>

                </tr>

            </table>

        </div>
        <div class="commentaire envoye">
            <table style="width: 100%;">
                <tr>
                    <td>Ceci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci
                        est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire
                        lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon
                        commentaire lalalalallCeci est mon commentaire lalalalallCeci est mon commentaire lalalalall

                    </td>
                    <td style="width:200px; vertical-align: top; text-align: end; ">
                        <h3 style="margin:0px; margin-top: 15px;padding-right: 15px;">Francois LORET</h3>
                        <p style="margin:0px; padding-right: 15px;">04/06/2023</p>
                        <hr />
                        <div style="margin-right: 15px;"><a href="#">piece jointe</a></div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="form_new_com">
        <button (click)="showDialog()">+ Nouveau commentaire</button>
    </div>
    <div class="card flex justify-content-center">
        
        <p-dialog header="Nouveau Commentaire" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }"
            [draggable]="false" [resizable]="false">

            
            <span class="p-float-label" style="margin-top: 25px;">
                <textarea id="float-input" style="width:100%;" rows="5" cols="30" pInputTextarea></textarea>
                <label for="float-input">Commentaire</label>
            </span>

            <p-fileUpload [style]="{'margin-top':'10px'}" mode="basic" chooseLabel="Ajouter une pièce jointe" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*,.pdf" (onUpload)="onUpload($event)"></p-fileUpload>
            <div style="margin-top: 25px; display: flex; justify-content: flex-end;"><p-button  icon="pi pi-send" label="Envoyer"></p-button></div>
        </p-dialog>
    </div>
</div>