<div class="fond"></div>
<div class="voile"></div>

<div class="conteneur">
    <img style="position:absolute;" class="logo" src="\assets\logo.perrault.png"/>
    <div class="div_gauche">
        
        <h3>Espace de connexion</h3>
        <div class="form_div">
            <label>Choisissez votre profil : </label>
            <select placeholder="Saisir nom d'utilisateur" [(ngModel)]="selectedUser">
                <option *ngFor="let user of users" [ngValue]="user">{{user.prenom}} {{user.nom}}</option>
            </select>
        </div>
        <div class="form_div">
            <button class="btn_connexion" (click)="connexion()">Connexion</button>
        </div>
    </div>
    <div class="div_droite">
        <h2 class="title">Connectez-vous pour accéder à nos services</h2>
        <img  class="img_deco" src="\assets\img_connexion.png"/>
    </div>
</div>


<p-dialog header="Entrer le mot de passe administrateur" [(visible)]="visible" [modal]="true" [style]="{ width: '500px' }" [draggable]="false" [resizable]="false">
    <input class="pwdAdmin" type="password" [(ngModel)]="adminPassword">
    <button class="btnPwd" (click)="validation()">Verifier</button>
</p-dialog>