<div class="conteneur_ticket">

    <table class="ticket" *ngFor="let ticket of fakeArray">
        <tr >
            <td rowspan="8" style="width: 25px; text-align: center;  background-color: rgb(172, 172, 255);">
                <span class="pi pi-desktop" style="color:white;"></span>
            </td>
        </tr>
        <tr >
            <td style="padding-left: 5px; padding-top: 5px;" class="ticket_title">Demande materiel</td>
            <td class="date">03/09/2023</td>
        </tr>
        
        <tr>
            <td class="id" style="padding-left: 5px;" colspan="2">2356345345</td>
        </tr>
        <tr style="height: 5px;">
            <td colspan="2" style="padding-left: 5px;"></td>
        </tr>
        <tr>
            <td colspan="2" style="padding-left: 5px;">Catégorie</td>
        </tr>
        <tr style="height: 5px;"><td colspan="2"></td></tr>
        <tr>
        <td colspan="2" style="font-size: 0.9em;padding-left: 5px;">Attribué à :  Francoos LORET </td>
        </tr>
        <tr style="text-align: end;">
            <td colspan="2" style="padding-right: 5px;"><i class="pi pi-circle-fill" style=" font-size:0.8em;color:green"></i> En cours</td>
        </tr>
    </table>
</div>
