.conteneur_menu {
    background-color:#ffffff;
    width: 200px;
    height: 100%;
    display: flex;
    padding:10px;
    flex-wrap: wrap;
    align-items: flex-start;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(218, 218, 218);

}/*#F8F9FA*/